<!DOCTYPEhtml>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Adminpage</title>
</head>

<body>
	<h1 th:text="Adminpage"></h1>
	<a href="https://ohjelmistoprojektii.herokuapp.com/answerTable">Vastauslista</a>
	<a href="https://ohjelmistoprojektii.herokuapp.com/kysymyslista">Kysymyslista</a>
	<a href="https://ohjelmistoprojektii.herokuapp.com/lisaakysymys">Lisää kysymys</a>
	<a href="https://ohjelmistoprojektii.herokuapp.com/answers">Vastaukset</a>
	<a href="https://ohjelmistoprojektii.herokuapp.com/vastaajat">Vastaajat</a>
	
	
</body>

</html>
