<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vastaukset/Kysymys</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" th:href="@{~/css/bootstrap.min.css}" />
</head>

<body>
	<h1>Vastaukset/Kysymys</h1>
	
	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
	</form></br>
	
	<table class="table table-striped">
    <thead>
		<tr>
		    <th th:text="${kysymys}"></th>
		</tr>
	</thead>
	<tbody>
    	<tr>
    		<td th:text = "'vastaus 1'"></td>
    	</tr>
    	<tr>
    		<td th:text = "'vastaus 2'"></td>
    	</tr>
    </tbody>  
     </table> 
     

     <a href="/kysymyslista" class="btn btn-success">Kysymykset</a> 

</body>
</html>
